body .angular-google-map-container {
	width: 100%;
	height: 600px;
}
body.loading::before {
	content: "Loading...";
	display: block;
	color: #ccc;
	font-weight: bold;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -92px;
}
.ui.page {
	padding-top: 30px;
}
#meteorits .ui.relaxed {
	position: relative;
	height: 100px;
}