<!DOCTYPE html>
<html lang="en" ng-app="firebaseApp">
<head>
	<meta charset="UTF-8">
	<title>Meteorit</title>
	<!-- CSS -->
	<!-- build:css css/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css css/main.css -->
	<link rel="stylesheet" href="css/main.css">
	<!-- endbuild -->	
</head>
<body ng-controller="firebaseCtrl">


<!-- 	<ui-gmap-google-map ng-if="showMap" center='map.center' zoom='map.zoom' options="options" bounds="map.bounds">
		<ui-gmap-markers models="meteorits" coords="'self'" labelContent="text" icon="{url: 'img/gmapIcon2.png'}">
		</ui-gmap-markers>
	</ui-gmap-google-map> -->

	<!--
	{url: '/img/gmapIcon.png'}
	-->

<div class="ui page grid" id="meteorits" ng-if="showMap">
	<div class="row">
		<div class="column" ng-init="activeTab = 1">

			<h1 class="ui header">Данные о падении метеоритов</h1>

			<div class="ui secondary menu">
			    <a class="item" ng-click="activeTab = 1" ng-class="{true: 'active'}[activeTab == 1]">Общая</a>
			    <a class="item" ng-click="activeTab = 2" ng-class="{true: 'active'}[activeTab == 2]">По странам</a>
			    <a class="item" ng-click="activeTab = 3" ng-class="{true: 'active'}[activeTab == 3]">По годам</a>
				<a class="item" ng-click="activeTab = 4" ng-class="{true: 'active'}[activeTab == 4]">На карте</a>
			</div>
			
			<div class="ui active tab segment" ng-class="{true: 'active'}[activeTab == 1]">
				<div class="ui fluid icon input">
					<input type="text" ng-model="search" placeholder="search">
					<i class="search icon"></i>
				</div>
				<table class="ui celled striped table">
					<thead>
						<tr>
							<th ng-repeat="(key, item) in meteorits[0] track by $index" ng-bind="key"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in meteorits | filter: search">
							<td ng-repeat="item2 in item track by $index" ng-bind="item2"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="ui tab segment" ng-class="{true: 'active'}[activeTab == 2]">
				<table class="ui celled striped table">
					<thead ng-repeat-start="(key, item) in meteorits | groupBy: 'country'">
						<tr>
							<th colspan="8" ng-bind="key"></th>
						</tr>
					</thead>
					<tbody ng-repeat-end>
						<tr ng-repeat="item2 in item">
							<td ng-repeat="item3 in item2 track by $index" ng-bind="item3"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="ui tab segment" ng-class="{true: 'active'}[activeTab == 3]">
			
				<div class="ui relaxed" ng-repeat-start="(key, item) in meteorits | groupBy: 'century'">
					<div class="ui vertical divider">{{key}} век</div>
				</div>

				<table class="ui celled striped table" ng-repeat-end>
					<tbody>
						<tr ng-repeat="item2 in item">
							<td ng-repeat="item3 in item2 track by $index" ng-bind="item3"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="ui tab segment" ng-class="{true: 'active'}[activeTab == 4]">
				<ui-gmap-google-map ng-if="activeTab == 4" center='map.center' zoom='map.zoom' options="options" bounds="map.bounds">
					<ui-gmap-markers models="meteorits" coords="'self'" labelContent="text" icon="{url: 'img/gmapIcon2.png'}">
					</ui-gmap-markers>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
</div>



	<!-- 	<pre>
		<code>
			{{ data[3].data | json }}
		</code>
	</pre> -->

	<div class="ui inverted dimmer" ng-class="{false: 'active'}[showMap]">
		<div class="ui text loader">Loading</div>
	</div>

	<!-- JS -->
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
	<!-- build:js js/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/firebase/firebase.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angularfire/dist/angularfire.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	<script src="bower_components/semantic-ui/dist/semantic.js"></script>
	<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js js/main.js -->
	<script src="js/controller.js"></script>
	<script src="js/main.js"></script>
	<!-- endbuild -->
</body>
</html>